body{
    background-color: #3029ac;
    background-image: linear-gradient(360deg, #1f1f3d 0%, #352047 80%, #352047 100%);
    overflow-x: hidden;
}

li{
    list-style: none;
}

a{
    all:unset;
    cursor: pointer;
}

.row{
    height: 100%;
}

.navbar{
    height: 5rem;
    width: 100%;
    background-color: #352047;
    border-bottom: #4e265c 1px solid;
}

.navbar-brand{
    height: 5rem;
}

.navbar-brand img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.main-hero{
    overflow: hidden;
}

.hero-img img{
    height: 80%;
}

.simple{
    background-color: #171224;
}

.img-wrapper{
    height: 40rem;
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.accordion button{
    background-color: #00000000;
}

.newsletter{
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(229,70,252,1) 100%);    
    border-radius: 50px;
}

.main-blog{
    background-color: #171224;
}

.blog-text{
    background-color: #1f1f3d;
}

.blog-img{
    overflow: hidden;
}

.blog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s;
}

.blog-img img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.blog-title, .blog-body{
    border-bottom: 1px white solid;
}

.card{
    background-color: #171224;
}

.pulso{
    transform: scale(1);
	animation: agrandar 6s infinite;
    animation-fill-mode: forwards;

}

.slide-izq{
	animation: slide-l 1s ease-in;
    animation-fill-mode: forwards;
}

.img-wrapper:hover{
    scale: 0.5;
}

@keyframes agrandar {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.25);
	}
}

@keyframes slide-l {
	0% {
		transform: translateX(-100%);
        opacity: 0;
	}

	100% {
		transform: translateX(0%);
        opacity: 1;
	}
}


